body {
    font-family: "Roboto", sans-serif;
    display: flex;
    margin: 0;
    flex-direction: column;
    min-height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: medium;
}

h2 {
    margin: 0;
    font-size: xx-large;
}

p {
    font-size: x-small;
    margin: 0;
}

button {
  cursor: pointer;
  padding: 4px 8px;
  border-radius: 8px;
  border-width: 1px;
  width: 80px;
  box-sizing: border-box;
  font-size: x-small;
  background-color: #3882F6;
  color: aliceblue;
  border-color: #3882F6;
  border-style: solid;
  font-weight: 900;
}

.header {
    background-color: #1F2937;
    flex: 1;
    height: 300px;
    color: aliceblue;
    display: flex;
    flex-direction: column;
}

.footer {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: aliceblue;
    font-size: x-small;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin: 16px 80px;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 8px;
    font-size: small;
    font-size: x-small;
}

.awesome {
    display: flex;
    justify-content: space-between;
    margin: 48px 80px;
    gap: 16px;
    /* flex-wrap: wrap; */
}

.intro {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.profiles {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    margin-bottom: 40px;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 32px 80px;
    background-color: #E5E7EB;
    color: #1F2937;
    align-items: center;
    justify-content: center;
}

.call-to-action {
    display: flex;
    margin: 32px 80px;
    background-color: #3882F6;
    color: aliceblue;
    padding: 24px 52px;
    border-radius: 8px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    align-self: center;
    width: 600px;
}

.call-text {
    display: flex;
    flex-direction: column;
}

img.icon {
    border-radius: 8px;
    border-width: 3px;
    border-color: #3882F6;
    border-style: solid;
}

p.prof-text {
    margin-top: 4px;
    width: 100px;
}

#call {
    font-weight: 700;
    font-size: 12px;
}

#quotee, #quote-text {
    width: 520px;
}

#quote-text {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
}

#quotee {
    text-align: end;
    font-weight: 500;
    font-size: 12px;
}

li.prof-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 16px;
}

ul.img-desc {
    display: flex;
}

button#sign-up-1{
    margin-top: 8px;
}

button#sign-up-2{
    border-color: aliceblue;
}

img#lander, img.icon {
    flex: 0;
}
